# Web Framework
flask

# Database ORM (Object-Relational Mapper)
flask-sqlalchemy
psycopg2-binary

# API and Schema Validation
pydantic

# Environment Variables
python-dotenv

# Production Web Server
gunicorn